:root {
    --color-bg: #222;
    --color-theme-1: #ff3e00;
    --color-theme-2: #4075a6;
    --color-fg: white;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    background-color: var(--color-bg);
    color: var(--color-fg);

    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}


a,
a:hover {
    color: var(--color-theme-1);
    text-decoration: none;
}

/* Future(101): welcome message */
/* h1 {
    font-size: 2rem;
    text-align: center;
    margin: 1rem 0 1rem 0;
} */