#appContainer {
    width: 100%;
    max-width: 80vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    margin: 0 auto;
}

.appCard {
    width: calc(100% / 4 - 0.75rem);
    aspect-ratio: 16/9;
    display: flex;
    flex-direction: row;
    /* override dagli oggetti */
    background-color: teal;
    color: white;
    position: relative;
    overflow: hidden;
}

.appCard img {
    display: block;
    width: 100%;
    height: 100%;
}

.appCard span {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    font-weight: 300;
}

/* ToDo(102): card hover */
/* .appCard:hover .padding-none {
    padding: 0.5em;
}
.appCard:hover .padding-thin {
    padding: 0;
}
.appCard:hover .padding-thick {
    padding: 1rem 2rem;
} */

.padding-none {
    padding: 0;
}

.padding-thin {
    padding: 0.5rem;
}

.padding-thick {
    padding: 2rem 3rem;
}

.icon-none {
    filter: unset;
}

.icon-light {
    filter: brightness(0) invert(1);
}

.icon-dark {
    filter: brightness(0);
}