#appContainer {
    width: 100%;
    max-width: 80vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    margin: 0 auto;
}

.appCard {
    width: calc(100% / 4 - 0.75rem);
    aspect-ratio: 16/9;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* override dagli oggetti */
    background-color: teal;
    color: white;
    overflow: hidden;
}

.appCard img {
    display: block;
    width: 100%;
    height: 100%;
}

.appCard span {
    display: flex;
    align-items: center;
    font-size: 2rem;
}

.appCard span>label {
    cursor: pointer;
    font-weight: 300;
}

.appCard span>i,
.appCard span>label {
    padding: 0 0.3rem;
}

/* ToDo(102): card hover */
/* .appCard:hover .padding-none {
    padding: 0.5em;
}
.appCard:hover .padding-thin {
    padding: 0;
}
.appCard:hover .padding-thick {
    padding: 1rem 2rem;
} */

.card-padding-thin {
    padding: 0.5rem;
}

.card-padding-thick {
    padding: 2rem 3rem;
}

.card-img-cover {
    object-fit: cover;
}

.card-img-contain {
    object-fit: contain;
}

.card-img-light {
    filter: brightness(0) invert(1);
}

.card-img-dark {
    filter: brightness(0);
}