.movieCard {
    width: calc(100% / 5 - 0.8rem);
    aspect-ratio: 9/16;
    background-color: #555;
    color: white;
    overflow: hidden;
    position: relative;
}

.appCard {
    width: calc(100% / 4 - 0.75rem);
    aspect-ratio: 16/9;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* override dagli oggetti */
    background-color: teal;
    color: white;
    overflow: hidden;
}

.movieCard img,
.appCard img {
    display: block;
    width: 100%;
    height: 100%;
}

.movieCard .card-img-overlay,
.appCard span {
    display: flex;
    align-items: center;
    font-size: 2rem;
}

.movieCard .providers {
    display: flex;
    flex-direction: row;
    height: 6.8rem;
    gap: 0.4rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.movieCard .providers a {
    font-size: 1rem;
    height: 3rem;
    width: 3rem;
}

.movieCard .provider-icon {
    border-radius: 50%;
    overflow: hidden;
}

.card-img-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    font-weight: 400;
    font-size: 1.2rem;
    padding: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
}

.card-img-overlay .info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.appCard span>label {
    cursor: pointer;
    font-weight: 300;
}

.card-img-overlay label {
    width: 100%;
    font-size: 1rem;
    line-height: 1.2rem;
    height: 2.4rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.card-img-overlay time {
    font-size: 0.6rem;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

.card-img-overlay small {
    color: gold;
    font-size: 0.6rem;
    margin-bottom: 0.6rem;
}

.card-img-overlay p {
    font-size: 0.8rem;
    line-height: 1rem;
    height: 10rem;
    overflow: hidden;
}

.appCard span>i,
.appCard span>label {
    padding: 0 0.3rem;
}

/* ToDo(102): card hover */
/* .appCard:hover .padding-none {
    padding: 0.5em;
}
.appCard:hover .padding-thin {
    padding: 0;
}
.appCard:hover .padding-thick {
    padding: 1rem 2rem;
} */

.card-padding-thin {
    padding: 0.5rem;
}

.card-padding-thick {
    padding: 2rem 3rem;
}

.card-img-cover {
    object-fit: cover;
}

.card-img-contain {
    object-fit: contain;
}

.card-img-light {
    filter: brightness(0) invert(1);
}

.card-img-dark {
    filter: brightness(0);
}