<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Home</title>
    <script src="./js/vue-3.4.21/vue.global.min.js"></script>
    <!-- <script src="./js/vue-3.4.21/vue.global.prod.min.js"></script> -->
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/cards.css">
    <link rel="stylesheet" href="css/fontawesome-6.5.1/css/all.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">

</head>

<body>
    <div id="app">
        <!-- Future(101): welcome message -->
        <!-- <h1>{{ message }}</h1> -->

        <div id="appContainer">
            <header class="appSearchBar">
                <input type="text" placeholder="Search..." @input="search" v-model="searchstring"
                    :style="{ width: searchstring ? '' : '100%' }">
                <button v-if="searchstring" class="clear" @click="clear"><i
                        class="fa-solid fa-delete-left"></i></button>
            </header>
            <main v-if="results.length" class="appCardGrid">
                <div v-for="item in results" class="movieCard">
                    <img v-if="item.poster_path" :src="imageUrl+item.poster_path" :alt="item.title"
                        class="card-img-cover" />
                    <div class="card-img-overlay">
                        <div class="info">
                            <time v-if="item.media_type == 'movie'">{{parseDate(item.release_date)}}</time>
                            <time v-else-if="item.media_type == 'tv'">{{parseDate(item.first_air_date)}}</time>
                            <small v-if="item.vote_average">
                                <i v-for="i in 5"
                                    :class="{ 'fa-solid fa-star': (i-0.5) < parseStars(item.vote_average), 'fa-regular fa-star-half-stroke': (i-0.5) == parseStars(item.vote_average),  'fa-regular fa-star' : (i-0.5) > parseStars(item.vote_average) }"></i>
                            </small>
                            <label v-if="item.media_type == 'movie'">{{ item.title}}</label>
                            <label v-else-if="item.media_type == 'tv'">{{ item.name}}</label>
                            <p v-if="item.overview">{{parseDescription(item.overview, 256)}}</p>
                        </div>

                        <div class="providers" v-if="item.providers && item.providers.flatrate">
                            <a v-for="service in item.providers.flatrate" :href="item.providers.link"
                                class="provider-icon">
                                <img :src="imageUrl + service.logo_path" :alt="service.provider_name" />
                            </a>
                        </div>
                    </div>
                </div>
            </main>
            <main v-else class="appCardGrid">
                <a v-for="card in cards" v-bind="card.tile" class="appCard">
                    <img v-if="card.img" v-bind="card.img" :alt="card.text?.name" />
                    <span v-else-if="card.text?.name || card.icon?.class">
                        <i v-bind="card.icon"></i>
                        <label v-bind="card.text">{{card.text?.name}}</label>
                    </span>
                    <span v-else>Unknown</span>
                </a>
            </main>
        </div>
    </div>

    <script src="./js/cards.js"></script>
    <script src="./js/main.js"></script>
</body>

</html>